.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

button {
    background-color: rgb(55, 136, 236);
    color: aliceblue;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border-color: rgb(255, 0, 255);
}

.results {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

body {
    font-family: 'Comic Sans MS', Verdana, sans-serif;
}